/* top-nav-menu.module.css */

.logoContainer {
  display: flex;
  justify-content: flex-start;
  width: fixed;
  height: fixed;
  padding: 5px;
  border-radius: 25px;
}

.navBar {
  background-color: var(--dark-background-color);
  color: var(--dark-font-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: start;
  width: auto;
  height: fit-content;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid var(--dark-font-color);
}

.logoText {
  display: flex;
  padding: 10px;
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none; /* Remove underline from links */
  flex-wrap: wrap;
}

.loginButton {
  display: flex;
  position: relative;
  width: 33%;
  padding: 10px;
  text-align: center;
  justify-content: end;
  align-items: end;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none; /* Remove underline from links */
}

/* Base styles for the navigation menu */
.nav {
  margin: 0;
  width: 33%;
  position: sticky;
  top: 0;
  z-index: 100; /* Asegura que el nav esté sobre otros elementos */
  padding: 10px 0; /* Padding around the navigation */
  display: flex;
  justify-content: center; /* Center the navigation menu horizontally */
  align-items: center;
}

.menu {
  list-style: none; /* Remove bullet points from the list */
  display: flex; /* Display menu items in a row */
  padding: 10px;
  height: 50px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 10px;
  border-radius: 20px;
  font-size: var(--link-font-size);
  font-weight: var(--link-font-weight);
  text-decoration: none; /* Remove underline from links */
}

.link:hover {
  background-color: var(--dark-background-hover-color);
  color: var(--dark-font-hover-color);
}

@media (max-width: 1920px) {
  .menu {
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    width: 100%;
  }

  .link {
    font-size: 20px;
  }

  .logoText {
    flex-direction: column;
    font-size: 20px;
  }

  .loginButton {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .menu {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    width: 100%;
  }

  .link {
    font-size: 18px;
  }

  .logoText {
    flex-direction: column;
    font-size: 18px;
  }
  .loginButton {
    font-size: 18px;
  }
}

@media (max-width: 820px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: 100%;
  }

  .link {
    font-size: 16px;
  }

  .logoText {
    flex-direction: column;
    font-size: 1.5;
  }

  .loginButton {
    font-size: 16px;
  }
}

@media (max-width: 601px) {
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .link {
    font-size: 14px;
  }

  .logoText {
    flex-direction: column;
    font-size: 14px;
  }
  .loginButton {
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    width: 100%;
  }

  .link {
    font-size: 12px;
  }

  .logoText {
    flex-direction: column;
    font-size: 12px;
  }

  .loginButton {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    width: 100%;
  }

  .link {
    font-size: 10px;
  }

  .logoText {
    flex-direction: column;
    font-size: 10px;
  }
  .loginButton {
    font-size: 10px;
  }
}
