/* top-nav-menu.module.css */

.navBar {
  background-color: var(--dark-color-1);
  color: var(--light-color-3);
  display: flex;
  width: 100vw;
  height: 60px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.9;
}

.logoText {
  display: flex;
  padding: 10px;
  width: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none; /* Remove underline from links */
  flex-wrap: wrap;
}

/* Base styles for the navigation menu */
.nav {
  --link-color: #a0e9ff;
  --link-hover-color: #1eff00;
  --link-font-weight: 700;
  --link-font-size: 20px;
  margin: 0;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100; /* Asegura que el nav esté sobre otros elementos */
  background-color: var(--dark-color-1);
  padding: 10px 0; /* Padding around the navigation */
  display: flex;
  justify-content: center; /* Center the navigation menu horizontally */
  align-items: center;
}

.menu {
  list-style: none; /* Remove bullet points from the list */
  display: flex; /* Display menu items in a row */
  gap: 20px; /* Space between menu items */
  padding: 0;
  height: 50px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: var(--link-font-size);
  font-weight: var(--link-font-weight);
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.link:hover {
  color: var(--link-hover-color); /* Use variable for link hover color */
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 640px) {
  .menu {
    flex-direction: column; /* Stack menu items vertically on smaller screens */
    align-items: center;
    gap: 10px; /* Reduce space between menu items */
    font-size: smaller;
    width: 100%;
  }

  .link {
    font-size: smaller;
  }

  .logoText {
    flex-direction: column;
    font-size: smaller;
  }
}
